name = "merch-backend"
main = "src/index.ts"
compatibility_date = "2025-11-15"
compatibility_flags = ["nodejs_compat"]

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "merch-db"
database_id = "3967b160-494c-48f1-bb65-8f6861cbea2e"

# Variables
[vars]
SENDER_EMAIL = "admin@brockcsc.ca"
SENDER_NAME = "Brock Computer Science Club"
TEMPLATE_ID = "v69oxl5d1z24785k"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1